.DS_Store
node_modules
.nyc_output
coverage
yarn-error.log

test
coverage
.codecov

/.size-limit.js
/.editorconfig
/.eslintrc.js
/.huskyrc.js
/.lintstagedrc
/.travis.yml
/ava.config.js
/yarn.lock
/test.mjs
