.DS_Store
.codecov
.github
node_modules
coverage
.husky
.eslintignore

/.size-limit.js
/.editorconfig
/.eslintrc.js
/.huskyrc.js
/.lintstagedrc
/ava.config.cjs
/ava.config.mjs
/ava.config.js
/yarn-error.log
/yarn.lock
/pnpm-lock.yaml
/package-lock.json
/useSuspender.test-d.ts
/tsconfig.json
/*.test.js
