.DS_Store
.codecov
.github
node_modules
coverage
.husky
.eslintignore

/.c8rc.json
/.size-limit.json
/.editorconfig
/.eslintrc.json
/.lintstagedrc
/ava.config.cjs
/ava.config.mjs
/ava.config.js
/yarn-error.log
/yarn.lock
/pnpm-lock.yaml
/package-lock.json
/tsconfig.json
/tsconfig.d.ts.json
/tsconfig.eslint.json
/tsconfig.ava.json
/tsconfig.build.json
/src
